@page "/"
@using Blazor.Shared.Services
@inject IBlazorTestService blazorTestService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@blazorTestService.GetMessage()</p>